* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

/* header */
.main-header {
    background-color: rgba(0, 0, 0, .2);
    background-image: url(../images/header/paws.jpg);
    /* background-size: cover; */
    background-repeat: repeat;
    background-blend-mode: multiply;
    padding-bottom: 30px;
}


/* images */
.vday-image {
    width: 200px;
    height: auto;
}