@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Roboto:wght@300;400;700;900&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #307473;
    letter-spacing: 0.1em;
    line-height: 2em;
}

html, body {
    margin: 0;
    padding: 0;
}

/* Navigation / Header */
.nav a {
    display: inline-block;
    padding: .5em;
    text-decoration: none;
}

.nav a:hover {
    /* background-color: #104443; */
    background-color: rgba(16, 68, 67, .2)
}

.nav li {
    display: inline;
}

.nav ul {
    margin: 0;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: normal;
    border-bottom: 1px solid rgba(16, 68, 67, .2);
}

.main-nav li {
    padding: 0 5%;
}

.main-header {
    /* background-color: rgba(0, 0, 0, 0); */
    background-image: url(../images/header/paws.jpg);
    /* background-size: cover; */
    background-repeat: repeat;
    /* background-blend-mode: multiply; */
    padding-bottom: 30px;
}

.site-name {
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-weight: normal;
    font-style: normal;
}

.site-name-large {
    font-size: 6em;
}

/* Sections */
.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family: 'Londrina Solid', cursive;
}

/* images */
.vday-image {
    width: 200px;
    height: auto;
}